.producto-imagen img{
    height:50px;
    width: 50px;
}

h2{
    font-size:2.625em;  
}

.producto h3{
    margin:0px;
    padding:0px;
    font-size:1.25em;
}

.precio{
    text-align:right;
    font-weight:bold;
    margin-top:6px;
    font-size:1em;
    color: grey;
}


.boton-add{
    padding-top:10px;
    margin-top:6px;
}

.pedido{
    box-shadow: 15px 10px 31px -6px rgba(0,0,0,0.5);
}

.fixed{
    bottom:20px;
    position: fixed;
    z-index:50;
}

@media (max-width: 600px) {
    
    .producto h3{
        font-size:1em;
    }
    
    .producto .descripcion{
        font-size:0.8em;
    }
    
    .precio{
        font-size:0.8em;
    }
    
    .fixed{
        bottom:0;
    }
    
    .ajustable{
        max-height: 5em;
        overflow-y: scroll;
    }
    
    .productos{
        margin-bottom:150px;
    }
}

.pedido{
    font-style:italic;
    color:grey;
}

.pedido .header h3{
    font-style:normal;
    margin:0px;
    padding:10px;
    text-transform:uppercase;
    font-weight:bold;
    font-size:1em;
    color:white;
}

footer button{
    margin:10px;
    font-weight:bold;
    width:95%;
}

footer{
    visibility:hidden;
}

.anchor{
    padding-top: 200px; 
    margin-top: -130px;
}