
.private{
    display: none;
}

.Valorar {
    font-size: 17px;
}

@media (max-width: 600px) {
    .Valorar {
        font-size: 15px;
    }
    
    .container{
        padding: 0px;
    }
}

.container{
    padding: 0px !important;
}

.mensaje{
    margin-bottom:15px;
    padding:0px;
    line-height:1.4;
    font-weight: normal;'
}

.message_head{
    margin:0px;
    padding:0px;
    font-weight: bold;
}

.val{
    margin:5px;
    padding: 0px;
}

.forms_v{
    height:auto;
    padding:5px;
    margin-top:40px;
    background-color: rgb(255,255,255, 0.7); 
    box-shadow: 7px 7px 19px -5px rgba(0,0,0,0.4)
}

.star{
    height: 20px;
}

.star_rating{
    position:relative;
    top:3px;
    height: 20px;
}
