input[type = "radio"]{ 
    display:none;
}
.clasificacion label { 
    color:grey;
    font-size:20px;
}

label {
    color:black;
}

label:hover,label:hover ~ label{
    color:orange;
    cursor: pointer;
}
input[type = "radio"]:checked ~ label{
    color:orange;
}
.clasificacion p{
     font-size:15px;
}


                
                
