body, html{
    height:100%;
}

h1, h2, h3{
    font-family: 'Patua One', cursive;
}

nav{
    font-size:20px;
    font-weight: bold;
    background-color: #e65100;
}

#bg{
    background-image:  url("../img/background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.forms{
    height:auto;
    padding:10px;
    margin-top:40px;
    background-color: rgb(255,255,255, 0.7); 
    box-shadow: 7px 7px 19px -5px rgba(0,0,0,0.4)
}

.container.forms{
    padding-left:25px;
}

.presentacion{
    margin-top:20px;
}

@media (max-width: 992px) {
    
    #bg{
        background-image:  url("../img/mobile-background2.jpg");
    }
    
    .presentacion{
        text-align: center 
    }

}

#wc{
    background-image:  url("../img/students.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}




.contacto{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.5em;
    margin-bottom: 30px;
}

.logo{
    position:relative;
    top:10px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
    background-image: url("../img/logofastfood.png");
    height:40px;
    width:40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#navtitle{
    position:relative;
    left:-20px;
    margin:0px;
    padding:0px;
    font-size: 0.8em;
}

nav a:link, #promo a:link{
    text-decoration: none;
}

nav a:visited, #promo a:visited{
    color: white;
}

.button, button{
    font-weight: bold;
}

.button:focus{
    box-shadow: 5px 5px 5px grey;
}

a:visited.button{
    color: white;
}

a:link.button{
    text-decoration: none;
}

a:link{
    text-decoration: underline;
}

a:visited{
    color:darkviolet;
}

#promo{
    margin-top:10px;
    padding-left:20px;
}

#promo1{
    font-family: 'Alfa Slab One', cursive;
    font-size:8.125em;
}

#promo2{
    text-transform:uppercase;
    color:#dd2c00;
    position:relative;
    top:-50px;
    font-family: 'Alfa Slab One', cursive;
    font-size:3em;
}

#promo3{
    font-size:23px;
    font-family: 'Alfa Slab One', cursive;
}

#promo4{
    position:relative;
    top:-60px;
    font-size:1.4375em;
    font-family: 'Alfa Slab One', cursive;
}

#val{
    font-size: 25px;
}

#welcome{
    padding:5px;    
    color:white;
}

.container{
    padding:30px;
}

@media (max-width: 600px) {
    
    #promo1{
        font-size:5.5em;
    }
    
    #promo2{
        position:relative;
        top:-30px;
        font-size:2em;
    }
    
    #promo3{
        font-size:1em;
    }
    
    #promo4{
        position:relative;
        top:-40px;
        font-size:1em;
    }       

}

label {
    color:#6B6B76;
}

button:focus{
    box-shadow: 5px 5px 5px grey;
}

.required{
    position:relative;
    right:10px;
    top:26px;
    color:#dd2c00;
}

.small{
    position:relative;
    top:-12px;
    font-size: 0.8em;
}